.app-advantages {
  background: #ffffff;
  background: linear-gradient(173deg, #ffffff 37%, #f2f2f2 24%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#f2f2f2", GradientType=1);
}
