.else-advantages {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    height: 276px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    height: 345px;
  }
}

.else-advantages__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.else-advantages__text {

  width: 50%;
}

.else-advantages__container::before {
  content: "";
  position: absolute;
  background: url("../../img/page-header/timer.svg");
  width: 238px;
  height: 276px;
  left: 10%;
  top: -45px;

  @media (min-width: $desktop-width) {
    background: url("../../img/page-header/timer-desktop.svg");
    width: 298px;
    height: 345px;
    left: 18%;
    top: -80px;
  }
}

.else-advantages__text-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.else-advantages__text-main {
  font-size: 14px;
  line-height: 24px;
  color: #283645;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.else-advantages__text-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #d22856;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
