.main-navigation {
  .main-navigation__container {
    background-color: rgba(#000000, 0.3%);
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.main-navigation__toggle {
  width: 50px;
  height: 24px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
