.our-contacts {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.our-contacts__item {
  width: 211px;
  text-align: center;
  margin-bottom: 31px;
}

.our-contacts__item:last-child {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }
}
