.our-contacts {
  @include reset-list;
  display: flex;
  justify-content: space-around;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  .our-contacts__item {
    width: 211px;
    text-align: center;
  }
}
