.site-list {
  @include reset-list;
  width: 620px;
  justify-content: space-between;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.site-list__item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
