.travel-app {
  padding: 0;
  margin: 0;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  background-color: #f2f2f2;


  @media (min-width: $tablet-width) {
    background-color: transparent;
    grid-row: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2;
    grid-column: 2/2;
  }

  .travel-app__title {
    @include form-title;
  }

  .travel-app__text {
    @include form-text;
  }
}
