.users-feedback {
  background-color: #f2f2f2;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  .users-feedback__text {
    padding: 25px 17px;

    @media (min-width: $tablet-width) {
      padding: 30px;
    }
  }

  .users-feedback__text-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .users-feedback__text-title--slim {
    font-weight: 300;
    font-size: 12px;
  }

  .users-feedback__text-main {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .users-feedback__button-title {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #d22856;
  }
}

.users-feedback--main {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}
