.user-photos {
  .user-photos__title {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      grid-column: 1/3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/4;
    }
  }

  .user-photos__container {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
