.your-emotions {
  padding: 0;
  margin: 0;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }

  .your-emotions__title {
    @include form-title;
  }

  .your-emotions__text {
    @include form-text;
  }

  .your-emotions__text-imp {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .your-emotions__text-imp--important {
    color: #d22856;
  }
}
