html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
  }
}

body {
  font-family: $main-font;
  font-style: normal;
  margin: 0;
  min-width: $mobile-width;
}
